@import '../layout/Formulaire.scss';
@import '../layout/Select.scss';
@import "../layout/Button";

.critere {
    @extend .formulaire;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    
    &__formulaire {

        &__categorie {
            display: flex;
            flex-wrap: wrap;

            &__critere {
                margin-left: 10px;
                margin-right: 10px;
            }

            &__value {
                @extend .formulaire__input;
            }
            
            &__title {
                @extend .formulaire__title;
            }
        }
        
    }

}