@import '../global/variables.scss';

.formulaire {
    $scale: 35px;
    background-color: white;
    padding: 70px;
    border-radius: $border-radius;
    width: 26%;
    margin-left: 90px;
    box-shadow: 1px 1px 20px rgba(42, 42, 42, 0.077);
    
    &__input {
        margin-top: $scale;
        margin-bottom: $scale;
    }

    &__title {
        font-weight: bold;
        color: $font-color;
    }
}