@import './Input';

.select {
    @extend .input;

    select {
        @extend .input__value;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        width: 332px;
        background-image: url("../../img/icon/arrow.svg");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 10px;

        &:hover {
            cursor: pointer;
        }
    }


    &__label {
        @extend .input__label;
    }

}