.btn {
    border: 1px solid rgb(0, 101, 0);
    padding: 10px 32px;
    font-size: 16px;
    border-radius: 7px;
    color: white;
    background-color: rgb(0, 101, 0);
}
.btn:hover {
    cursor: pointer;
}