<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <title>Sortie</title>
</head>
<style>
    body {
        background-color: rgb(237, 237, 237);
    }
</style>
<body>
    <form class="container w-50 p-5 shadow-sm rounded-3 mt-5 bg-white">
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date">
        </div>
        <div class="mb-3">
            <label for="article" class="form-label">Article</label>
            <input type="text" class="form-control" id="article">
        </div>
        <div class="mb-3">
            <label for="quantite" class="form-label">Quantite</label>
            <input type="text" class="form-control" id="article">
        </div>
        <div class="mb-3">
            <label for="magasin" class="form-label">Magasin</label>
            <input type="text" class="form-control" id="magasin">
        </div>
        <button type="submit" class="btn btn-primary">Sortir</button>
    </form>
</body>
</html>